AIT2109610_Assignment1_report.docx
AIT2109610_Assignment1_report.pdf
Review task/Aspect Extraction _ BERTopic.ipynb
Sentiment Analzer/IMDB_Dataset.csv
Sentiment Analzer/IMDB_Dataset_label.csv
Review task/Trained Model/BERTopic_model
